<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.shaonianyou.forum.mapper.PostMapper">

    <!--插入帖子-->
    <insert id="insert" parameterType="Post">
        INSERT INTO post (title,body,user_id,category_id,module_id,date_created)
        VALUES (#{title},#{body},#{user_id},#{category_id},#{module_id},#{date_created})
    </insert>

    <!--查询所有-->
    <select id="selectAll" resultType="Post">
        SELECT * FROM post t ORDER BY t.date_created DESC
    </select>

    <!--查询某版块下的所有帖子-->
    <select id="selectByModule" resultType="PostUser" parameterType="long">
        SELECT
                u.id AS user_id,
                u.NAME AS user_name,
                u.avatar_location AS avatar_location,
                p.id AS post_id,
                c.id AS category_id,
                c.`name` AS category_name,
                p.date_created AS date_created,
                p.comment_count AS comment_count,
                p.title AS title
         FROM
                post p,
                `user` u,
                category c,
                module m
        WHERE
                p.user_id = u.id
                AND p.category_id = c.id
                AND p.module_id = m.id
                AND m.id= #{moduleid}
         ORDER BY p.date_created DESC
    </select>

    <!--查询某分类下的所有帖子-->
    <select id="selectByCategory" resultType="Post" parameterType="long">
        SELECT * FROM post t  WHERE t.category_id = #{categoryid} ORDER BY t.date_created DESC
    </select>

    <!--本周热议-->
    <select id="selectHotPostByWeek" resultType="Post">
        SELECT * FROM post t
        WHERE
        t.comment_count != 0
        <if test="weekstart != null and  weekstart != ''">
            <![CDATA[AND t.date_created >= STR_TO_DATE(#{weekstart},"%Y-%m-%d")]]>
        </if>
        <if test="weekend != null and  weekend != ''">
            <![CDATA[AND t.date_created <= STR_TO_DATE(#{weekend},"%Y-%m-%d")]]>
        </if>
        ORDER BY t.comment_count DESC
        limit 5
    </select>

    <!--根据帖子Id查询帖子-->
    <select id="selectById" resultType="Post" parameterType="long">
        SELECT * FROM post WHERE id = #{postid}
    </select>

    <!--查询用户提问帖子，用于“用户中心”-->
    <select id="selectByPost" parameterType="Post" resultType="Post">
        SELECT * FROM post
        WHERE 1=1
        <if test="id !=0">
           AND id = #{id}
        </if>
        <if test="user_id !=0">
            AND user_id = #{user_id}
        </if>
        <if test="module_id !=0">
            AND module_id = #{module_id}
        </if>
        <if test="category_id !=0">
            AND category_id = #{category_id}
        </if>
        ORDER  BY date_created DESC
    </select>

    <!--根据用户ID查询其发帖总数-->
    <select id="selsectCountByUserId" parameterType="long" resultType="long">
        SELECT COUNT(id) as count
        FROM post         WHERE  user_id = #{userid}
    </select>

    <!--评论后更新回帖计数-->
    <update id="updateCommentCount" parameterType="long" >
        UPDATE post SET comment_count = comment_count+1 WHERE id = #{postid}
    </update>

    <!--首页查询-->
    <select id="selectIndex" resultType="PostUser">
        SELECT
            u.id AS user_id,
            u.NAME AS user_name,
            u.avatar_location AS avatar_location,
            p.id AS post_id,
            c.id AS category_id,
            c.`name` AS category_name,
            p.date_created AS date_created,
            p.comment_count AS comment_count,
            p.title AS title
        FROM
            post p,
            `user` u,
            category c
        WHERE
            p.user_id = u.id
            AND p.category_id = c.id
            ORDER BY date_created DESC
	        LIMIT 10
    </select>

    <!--帖子总数-->
    <select id="postCount" resultType="long">
        SELECT COUNT(*) FROM post as postcount
    </select>

    <!--点赞功能-->
    <update id="updateHitCount" parameterType="long" >
        UPDATE post p,comment c
        SET p.hit_count = p.hit_count + 1
        WHERE
            p.id = c.post_id
        AND c.id = #{commentid}
    </update>

    <!--多条件查询-->
    <select id="postSearch" resultType="PostUser" parameterType="PostSearch">
        SELECT
        u.id AS user_id,
        u.NAME AS user_name,
        u.avatar_location AS avatar_location,
        p.id AS post_id,
        c.id AS category_id,
        c.`name` AS category_name,
        p.date_created AS date_created,
        p.comment_count AS comment_count,
        p.title AS title
        FROM
        post p,
        `user` u,
        category c,
        module  m
        WHERE
        p.user_id = u.id
        AND p.category_id = c.id
        AND p.module_id = m.id
        <if test="moduleid !=0">
            AND m.id = #{moduleid}
        </if>
        <if test="categoryid !=0">
            AND c.id  = #{categoryid}
        </if>
        <if test="sortby == 1">
            ORDER BY p.date_created DESC
        </if>
        <if test="sortby == 2">
            ORDER BY p.comment_count DESC
        </if>
    </select>
</mapper>