<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.shaonianyou.forum.mapper.UserMapper">

    <!--用户注册，只插入表中user,pasword,email三个字段-->
    <insert id="insertUser" parameterType="User">
        INSERT INTO user (name,password,email)
        VALUES (#{name},#{password},#{email})
    </insert>

    <!--通过用户邮箱查询用户-->
    <select id="selectUserByEmail" parameterType="String" resultType="User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <!--通过用户名查询用户-->
    <select id="selectUserByUserName" parameterType="String" resultType="User">
        SELECT * FROM user WHERE name = #{username}
    </select>

    <!--查询回复周榜用户-->
    <select id="selectMostUserByWeek" resultType="WeekUser">
        SELECT COUNT(*)as frequency ,u.id,u.name,u.avatar_location
        FROM post p,user u
        WHERE p.user_id = u.id
        <if test="weekstart != null and  weekstart != ''">
            <![CDATA[ AND p.date_created >= STR_TO_DATE(#{weekstart},"%Y-%m-%d")]]>
        </if>
        <if test="weekend != null and  weekend != ''">
            <![CDATA[ AND p.date_created <= STR_TO_DATE(#{weekend},"%Y-%m-%d")]]>
        </if>
        GROUP BY p.user_id
        ORDER BY frequency DESC
    </select>

    <!--根据用户ID查询用户-->
    <select id="selectById" parameterType="long" resultType="User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <!--修改用户密码-->
    <update id="updatePass">
        UPDATE user SET password = #{newpass} WHERE id = #{userid}
    </update>

    <!--修改用户部分资料-->
    <update id="updateSection" parameterType="User">
        UPDATE  user SET email = #{email},name = #{name},gender = #{gender},address = #{address},proflie = #{proflie} WHERE id = #{id}
    </update>

    <!--查询用户总数-->
    <select id="userCount" resultType="long">
        SELECT COUNT(*) FROM user as usercount
    </select>

    <!--查询所有用户-->
    <select id="selectAll" resultType="User">
        SELECT * FROM user ORDER BY is_administrator DESC
    </select>

    <!--根据用户注册时间，用户名查询用户-->
    <select id="selectUserBySection" resultType="User">
        SELECT * FROM user u
        WHERE 1=1
        <if test="start != null and  start != ''">
            <![CDATA[ AND u.date_created >= STR_TO_DATE(#{start},"%Y-%m-%d")]]>
        </if>
        <if test="end != null and  end != ''">
            <![CDATA[ AND u.date_created <= STR_TO_DATE(#{end},"%Y-%m-%d")]]>
        </if>
        <if test="username != null and  username != ''">
            AND name like CONCAT('%',#{username},'%')
        </if>

    </select>
</mapper>