
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是版块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this" th:each="m : ${session.moduleList}">
        <a th:href="@{/post/module/{moduleid}(moduleid=${m.id})}" th:text="${m.display_name}"><i class="iconfont icon-jiaoliu"></i></a>
      </li>
    </ul>

    <ul class="layui-nav fly-nav-user">
      <!-- 未登录的状态 -->
      <li class="layui-nav-item"><a class="iconfont icon-touxiang layui-hide-xs" th:href="@{/tologin}"></a></li>
      <li class="layui-nav-item"><a th:href="@{/tologin}">登录</a></li>
      <li class="layui-nav-item"><a th:href="@{/toreg}">注册</a></li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登录</li>
          <li><a th:href="@{/toreg}">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form class="layui-form" action="">
              <div class="layui-form-item">
                <label for="email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="email" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="password" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button id="submitBtn" type="button" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="login" >立即登录</button>
                <span style="padding-left:20px;">
                  <a th:href="@{/toforget}">忘记密码？</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">  <p><a href="http://www.shaonianyou.xin/" target="_blank">ITHOME</a> 2019 &copy; <a href="http://www.shaonianyou.xin/" target="_blank">shaonianyou.xin</a></p></div>

<script src="/layui/layui.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use('fly');

layui.use('form', function () {
    var form = layui.form;

    form.on('submit(login)', function () {
        var url = "[[@{/user/userlogin}]]";
        var email = $("input[name=email]").val();
        var password = $("input[name=password]").val();

        $.ajax({
            url: url,
            type: "post",
            data:{"email": email, "password": password},
            success: function (res) {
                console.log(res.message);
                if(res.message == 1) {
                    layer.msg("登录成功",{
                        icon: 6,
                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    },function () {
                        location.href = "[[@{/}]]";
                    });//成功的表情
                    return;
                } else {
                    layer.msg(res.message,{icon: 5});//失败的表情
                    return;
                }
            }

        });
        return false;
    });
});
</script>

</body>
</html>