
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>帐号设置</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是版块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <!--<script src="layui/layui.all.js"></script>-->
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this" th:each="m : ${session.moduleList}">
        <a th:href="@{/post/module/{moduleid}(moduleid=${m.id})}" th:text="${m.display_name}"><i class="iconfont icon-jiaoliu"></i></a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      <!-- 登录后的状态 -->
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs" th:text="${session.usersession.name}"></cite>
          <img th:src="${session.usersession.avatar_location}" th:width="118px" th:height="118px">
        </a>
        <dl class="layui-nav-child">
          <dd><a th:href="@{/touserset}"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <dd><a th:href="@{/user/userhome/{userid}(userid=${session.usersession.id})}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
          </dd>
          <hr style="margin: 5px 0;">
          <dd><a th:href="@{/user/logout}" style="text-align: center;">退出</a></dd>
        </dl>
      </li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a th:href="@{/user/userhome/{userid}(userid=${session.usersession.id})}">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item">
      <a th:href="@{/user/userindex}">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a th:href="@{/touserset}">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li class="layui-this" lay-id="info">我的资料</li>
        <li lay-id="avatar">头像</li>
        <li lay-id="pass">密码</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-form layui-form-pane layui-tab-item layui-show">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label for="email" class="layui-form-label">邮箱</label>
              <div class="layui-input-inline">
                <input type="text" id="email" name="email" required  autocomplete="off" value=""
                       class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label for="name" class="layui-form-label">昵称</label>
              <div class="layui-input-inline">
                <input type="text" id="name" name="name" required  autocomplete="off"
                       value="" class="layui-input">
              </div>
              <div class="layui-inline">
                <div class="layui-input-inline">
                  <input type="radio" name="gender" value="0" checked title="男">
                  <input type="radio" name="gender" value="1" title="女">
                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label for="address" class="layui-form-label">城市</label>
              <div class="layui-input-inline">
                <input type="text" id="address" name="address" autocomplete="off" value="" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label for="proflie" class="layui-form-label">签名</label>
              <div class="layui-form-item layui-form-text">
                <textarea placeholder="随便写些什么刷下存在感" id="proflie" name="proflie" autocomplete="off"
                          class="layui-textarea"
                          style="height: 80px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <button id="updateBtn" type="button" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="updatesection">确认修改</button>
            </div>
          </form>
        </div>
          
          <div class="layui-form layui-form-pane layui-tab-item">
            <div class="layui-form-item">
              <div class="avatar-add" id="upload">
                <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
                <button type="button" class="layui-btn upload-img">
                  <i class="layui-icon">&#xe67c;</i>上传头像
                </button>
                <img  th:src=" ${session.usersession.avatar_location}" th:width="118px" th:height="118px">
                <span class="loading"></span>
              </div>
            </div>
          </div>
          
          <div class="layui-form layui-form-pane layui-tab-item">
            <form class="layui-form" action="">
              <div class="layui-form-item">
                <label for="currentpass" class="layui-form-label">当前密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="currentpass" name="currentpass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="newpass" class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="newpass" name="newpass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label for="repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="repass" name="repass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button id="repassBtn" type="button" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="repass">确认修改</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">  <p><a href="http://www.shaonianyou.xin/" target="_blank">ITHOME</a> 2019 &copy; <a href="http://www.shaonianyou.xin/" target="_blank">shaonianyou.xin</a></p></div>

<script src="/layui/layui.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "2.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use('fly');

layui.use('form', function () {
    var form = layui.form;

    form.on('submit(updatesection)', function () {
        var url = "[[@{/user/update}]]";
        var email = $("input[name=email]").val();
        var name = $("input[name=name]").val();
        var gender = $('[name=gender]:checked').val();
        var address = $("input[name=address]").val();
        var proflie = $("textarea[name=proflie]").val();

        $.ajax({
            url: url,
            type: "post",
            async: false,
            data: {"email": email, "name": name, "gender": gender, "address": address, "proflie": proflie},
            success: function (res) {
                console.log(res.message);
                if (res.message == 1) {
                    layer.msg("修改成功!", {
                        icon: 6,//成功的表情
                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    });
                    return;
                } else {
                    layer.msg(res.message, {icon: 5});//失败的表情
                    return;
                }
            }
        });
        return false;
    });
});


layui.use('form', function () {
    var form = layui.form;

    form.on('submit(repass)', function () {
        var url = "[[@{/user/repass}]]";
        var currentpass = $("input[name=currentpass]").val();
        var newpass = $("input[name=newpass]").val();
        var repass = $("input[name=repass]").val();

        if(repass != newpass ){
            layer.msg("两次密码不一致",{icon: 5});//失败的表情
            return false;
        }
        if(currentpass == repass ){
            layer.msg("您未作任何修改",{icon: 5});//失败的表情
            return false;
        }

        $.ajax({
            url: url,
            type: "post",
            async: false,
            data:{"currentpass": currentpass, "newpass":newpass},
            success: function (res) {
                console.log(res.message);
                if(res.message == 1) {
                    layer.msg("修改成功，即将跳转到登录页面",{
                        icon: 6,
                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                    },function () {
                        location.href = "[[@{/tologin}]]";
                    });//成功的表情
                    return;
                } else {
                    layer.msg(res.message,{icon: 5});//失败的表情
                    return;
                }
            }
        });
        return false;
    });
});
</script>

</body>
</html>